apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prometheus2-prometheus-operator
  labels:
    k8s-app: prometheus-operator
    prometheus-cluster: prometheus2
spec:
  endpoints:
  - port: http
  selector:
    matchLabels:
      k8s-app: prometheus-operator
