apiVersion: v1
kind: Service
metadata:
  labels:
    app: prometheus2
  name: prometheus2
spec:
  type: ClusterIP
  ports:
  - name: web
    port: 9090
    protocol: TCP
    targetPort: 9090
  selector:
    prometheus: prometheus2
